.app__award {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__award img {
  width: 20%;
  height: auto;
  margin-right: 2rem;
}

.app__award-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}